@html.extend('layout', function(model){
    @html.block('content', function(model){            
        <div class="mui--appbar-height"></div>
		<br>
		<br>
		<div class="mui--text-display3">@model.app</div>
		<br>
		<br>
		<p>Tired of searching for torrents only to find out that the release you found isn't and won't be translated to your favorite language?</p>
		<p>Tortitle was created as a remedy for such inconvenience - it automatically searches for latest torrent releases and tries to match them with subtitles most suitable for you.</p>
		<button class="mui-btn mui-btn--raised">Fetch latest movies</button>
		<table class="mui-table mui-table--bordered">
			@model.movies.forEach(function(msg){
			<tr>
				<td>
					@msg.name
				</td>
				<td>
					@msg.rating
				</td>
			</tr>
			})
		</table>		
    })
})