
/**
* Body CSS
*/
html,
body {
    height: 100%;
}

html,
body,
input,
textarea,
button {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
}
/**
* Header CSS
*/
header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 2;
    overflow: hidden;
}

    header ul.mui-list--inline {
        margin-bottom: 0;
    }

    header a {
        color: white;
    }

        header a:hover {
            color: white;
        }
/**
* Content CSS
*/
#content-wrapper {
    min-height: 100%;
    margin-bottom: -80px;
    padding-bottom: 80px;
}
/**
* Footer CSS
*/
footer {
    height: 80px;
    background-color: #eee;
    border-top: 1px solid #e0e0e0;
    padding-top: 15px;
}

.tortitle-logo{
    width: 48px;
}

.title > a > .tortitle-logo{
    margin-top: 4px;
}

.title.title-white svg{
    fill: white;
}

.items{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    margin-top: 20px;
    justify-content: flex-start;
}

.items > .item{
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 190px;
    margin: 5px 8px;
}

.items:after {
  content: "";
  flex: auto;
}

.item > .img {
    position: relative;
}

.item > .img > img,
.item > .img > span{
    width: 110px;
    height: 160px;
    border: 1px solid grey;
}

.item > .img > span {
    display: inline-block;
}

.item > .img > .stats-left {
    width: 44px;
    position: absolute;
    left: -16px;
    top: -16px;
    background-color: white;
    border: 1px solid rgb(230, 230, 230);
    border-bottom-right-radius: 8px;
    opacity: 0.8;
}

.item > .img > .stats-right {
    width: 44px;
    position: absolute;
    right: -16px;
    top: -16px;
    background-color: white;
    border: 1px solid rgb(230, 230, 230);
    border-bottom-left-radius: 8px;
    opacity: 0.8;
}

.item > .img > .stats-left > .rating {
    font-size: 18px;
    width: 100%;
    display: inline-block;
    border-bottom-right-radius: 8px;
    padding: 8px 0;
}

.item > .img > .stats-right > .count {
    margin-top: 10px;
    display: block;
    cursor: default;
}

.item > .img > .stats-right > .qualities {
    font-size: 11px;
    margin-top: 8px;
    display: inline-block;
}

.item > .img > .stats-right > .qualities > span {
    display: block;
}

.item > .img > .stats-right > .count > span {
    margin-left: -10px;
    background-color: white;
    width: 16px;
    height: 16px;
    display: inline-block;
    border: 1px solid grey;
    -ms-border-radius: 20px;
    border-radius: 20px;
    line-height: 16px;
    font-size: 12px;
    font-weight: bold;
}

.item > .img > .stats-right img{
    width: 22px;
}

.item > .desc > h4 {
    max-height: 24px;
    overflow: hidden;
}

p.m-info > span {
    width: 50%;
    display: inline-block;
    text-align: left;
}

ul.mui-dropdown__menu.mui--is-open {
    max-height: 370px;
    overflow-x: auto;
}

.matching{
    /*background-color: #76de36;*/
}

.matchesContainer img{
    width: 48px;
}

.matchesContainer a{
    margin-left: 10px;
    line-height: 48px;
    height: 48px;
    display: inline-block;
    vertical-align: top;
}

.color0{
    background-color: transparent;
}

.color1{
    background-color: #E50300;
}

.color2{
    background-color: #E03A00;
}

.color3{
    background-color: #DB6F00;
}

.color4{
    background-color: #D6A100;
}

.color5{
    background-color: #D2D100;
}

.color6{
    background-color: #9BCD00;
}

.color7{
    background-color: #67C800;
}

.color8{
    background-color: #34C300;
}

.color9{
    background-color: #05BF00;
}

#beta {
    position: absolute;
    left: 0px;
    font-weight: bold;
    color: brown;
    background-color: rgb(249, 235, 111);
    padding: 10px;
    width: 120px;
    text-align: center;
    -ms-transform: rotate(-50deg);
    -webkit-transform: rotate(-50deg);
    transform: rotate(-50deg);
    top: 15px;
    z-index: 5;
}