<div class="mui--text-center">
    <div class="mui--appbar-height"></div>
    <div class="mui--text-display3"><h1><img src="/images/tortitle.svg" class="tortitle-logo">#{root.app}</h1></div>
    <p>Tired of searching for torrents only to find out that the release you found isn't and won't be translated to your favorite language?</p>
    <p>Tortitle was created as a remedy for such inconvenience - it automatically searches for latest torrent releases and tries to match them with subtitles most suitable for you.</p>
    <a class="mui-btn mui-btn--primary" href="/">Show me</a>
    <div style="width: 50%;margin: auto;">
        <h4>Roadmap:</h4>
        <ul>
            <li>More torrent sources to add</li>
            <li>Add searching for torrent releases found in subtitles but not yet found in torrent sources</li>
            <li>More subtitle sources to add</li>
        </ul>
    </div>
</div>
