@html.extend('layout', function(model){
@html.block('content', function(model){       
    <div class="mui--text-center">
        <div class="mui--appbar-height"></div>
        <div class="mui--text-display3"><h1>@model.app</h1></div>
        <p>Tired of searching for torrents only to find out that the release you found isn't and won't be translated to your favorite language?</p>
        <p>Tortitle was created as a remedy for such inconvenience - it automatically searches for latest torrent releases and tries to match them with subtitles most suitable for you.</p>
        <div class="mui-dropdown">
            <button class="mui-btn mui-btn--primary" data-mui-toggle="dropdown">
                Select language (@model.lang)
                <span class="mui-caret"></span>
            </button>
            <ul class="mui-dropdown__menu">
                <li><a href="#" onclick="changeLang('en')">en</a></li>
                <li><a href="#" onclick="changeLang('pl')">pl</a></li>
            </ul>
        </div>
        <div class="mui-dropdown">
            <button class="mui-btn mui-btn--primary" data-mui-toggle="dropdown">
                @{
                    var sorts = {
                        0: "New first",
                        1: "Date added &darr;",
                        2: "Date added &uarr;",
                        3: "Rating &darr;",
                        4: "Rating &uarr;",
                        5: "Title (A-Z)",
                        6: "Title (Z-A)",
                    }
                    var currentSort = sorts[model.sort] || sorts[0];
                }
                @html.raw(currentSort)
                <span class="mui-caret"></span>
            </button>
            <ul class="mui-dropdown__menu">
                <li><a href="/0">@html.raw(sorts[0])</a></li>
                <li><a href="/1">@html.raw(sorts[1])</a></li>
                <li><a href="/2">@html.raw(sorts[2])</a></li>
                <li><a href="/3">@html.raw(sorts[3])</a></li>
                <li><a href="/4">@html.raw(sorts[4])</a></li>
                <li><a href="/5">@html.raw(sorts[5])</a></li>
                <li><a href="/6">@html.raw(sorts[6])</a></li>
            </ul>
        </div>
    </div>
	<table class="mui-table mui-table--bordered flex">
		@model.movies.forEach(function(msg){
		<tr>
            <td class="img">
                @if(msg.pictureLink){
                    <img src="@msg.pictureLink"/>
                }
                else{
                    <div></div>
                }
            </td>
			<td class="desc">
			    <h4><small><b>@(msg.isNew ? "NEW" : "")</b></small> <a href="http://imdb.com/title/tt@msg.imdbId">@msg.name</a></h4>
			    <p class="m-info"><span><b>@(msg.rating == 0 ? 'N/A' : msg.rating)</b></span><span>(@msg.addedAt.toLocaleDateString("en-US"))</span></p>
                <p>Torrents: @msg.torrents.length </p>
                <p>Subtitles: @msg.subtitles.length </p>
                <small><i>@msg.qualities</i></small>
			</td>
		</tr>
		})
    </table>	
    <div class="mui--text-center">
    @if(model.nextPage){
    <br>
    <a class="mui-btn mui-btn--primary" href="/@model.sort/@model.nextPage">Show more</a>	
    <br>
    } 
    </div>
<script>
    function setCookie(c_name, value, exdays) {
        var exdate = new Date();
        exdate.setDate(exdate.getDate() + exdays);
        var c_value = escape(value) +
          ((exdays == null) ? "" : ("; expires=" + exdate.toUTCString()));
        document.cookie = c_name + "=" + c_value;
    }

    function changeLang(lang) {
        setCookie("TortitleLanguage", lang, 30);
        window.location.reload();
    }
</script>
})
})