<div class="mui--text-center">
    <div class="mui--appbar-height"></div>
    <div class="mui-panel">
        <div class="mui-dropdown">
            <button class="mui-btn mui-btn--primary" data-mui-toggle="dropdown">
                @{ var lang = root.lang || "Select language"}
                #{lang}
                <span class="mui-caret"></span>
            </button>
            <ul class="mui-dropdown__menu" data-for="l in root.langs">
                <li><a href="#" onclick="changeLang('#{l.code}')">#{l.language}</a></li>
            </ul>
        </div>
        <div class="mui-dropdown">
            <button class="mui-btn mui-btn--primary" data-mui-toggle="dropdown">
                #{root.currentSort|decode}
                <span class="mui-caret"></span>
            </button>
            <ul class="mui-dropdown__menu">
                <li><a href="/0">#{root.sorts[0]|decode}</a></li>
                <li><a href="/1">#{root.sorts[1]|decode}</a></li>
                <li><a href="/2">#{root.sorts[2]|decode}</a></li>
                <li><a href="/3">#{root.sorts[3]|decode}</a></li>
                <li><a href="/4">#{root.sorts[4]|decode}</a></li>
                <li><a href="/5">#{root.sorts[5]|decode}</a></li>
                <li><a href="/6">#{root.sorts[6]|decode}</a></li>
            </ul>
        </div>
    </div>

    <div class="mui-container-fluid items" data-for="msg in root.movies">
        <div class="mui-panel item @{msg.hasMatch ? 'matching' : ''}">
            <div class="img">
                <div data-if="msg.pictureLink" data-extract>
                    <img src="#{msg.pictureLink}">
                </div>
                <div data-if="!msg.pictureLink" data-extract>
                    <span></span>
                </div>
                <div class="stats-left">
                    @{ var colorClass = 'color' + Math.floor(msg.rating);}
                    @{ var rating = msg.rating == 0 ? 'N/A' : new Number(msg.rating).toFixed(1);}
                    <span class="rating #{colorClass}"><b>#{rating}</b></span>
                </div>
                <div class="stats-right">
                    <span class="count mui--no-user-select"><img src="/images/torrent.svg"/><span>#{msg.torrents.length}</span></span>
                    <span class="count mui--no-user-select"><img src="/images/sub.png"/><span>#{msg.subtitles.length}</span></span>
                    <span class="qualities  mui--no-user-select" data-for="q in msg.qualities">
                        <span>#{q}</span>
                    </span>
                </div>
            </div>
            <div class="desc">
                <h4>
                    <a href="http://imdb.com/title/tt#{msg.imdbId}" target="_blank" title="#{msg.name}">#{msg.name}</a>
                </h4>
                <div data-if="msg.hasMatch" data-extract>
                    <button class="mui-btn mui-btn--primary" onclick="activateModal(this)">Show matches</button>
                    <div class="matchesContainer mui-panel" style="display:none;">
                        <div data-for="match in msg.match">
                            <p><img src="/images/torrent.svg" /><a href="#{match.torrent.torrentLink}">#{match.torrent.name}</a></p>
                            <p><img src="/images/sub.png" /><a href="#{match.subtitle.linkDownload}">#{match.subtitle.releaseName}</a></p>
                            <hr />
                        </div>
                    </div>
                    <div>
                        <small>#{msg.addedAt.toLocaleDateString("en-US")}</small>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div data-if="root.nextPage" data-extract>
        <a class="mui-btn mui-btn--primary" href="/#{root.sort}/#{root.nextPage}">Show more</a>
        <button class="mui-btn mui-btn--primary" onclick="play(this)">Play</button>
    </div>
    <div id="output"> </div>
</div>
<script>
    function setCookie(c_name, value, exdays) {
        var exdate = new Date();
        exdate.setDate(exdate.getDate() + exdays);
        var c_value = escape(value) +
          ((exdays == null) ? "" : ("; expires=" + exdate.toUTCString()));
        document.cookie = c_name + "=" + c_value;
    }

    function changeLang(lang) {
        setCookie("TortitleLanguage", lang, 30);
        window.location.reload();
    }

    function activateModal(el) {
        var modalEl = el.parentElement.getElementsByClassName('matchesContainer')[0].cloneNode(true);
        modalEl.style.display = 'block';
        modalEl.style.width = '440px';
        modalEl.style.height = '300px';
        modalEl.style.margin = '100px auto';
        modalEl.style.backgroundColor = '#fff';
        mui.overlay('on', modalEl);
    }

    function play() {
        var videoContainerEl = document.getElementById('output');
        var observer = new MutationObserver(function (mutations) {
            mutations.forEach(function () {
                if (videoContainerEl.children.length) {
                    var trackEl = document.createElement('track');
                    trackEl.setAttribute("label", "English");
                    trackEl.setAttribute("kind", "subtitles");
                    trackEl.setAttribute("srclang", "en");
                    trackEl.setAttribute("src", "/images/sintel_pl.vtt");
                    trackEl.setAttribute("default", "default");
                    videoContainerEl.children[0].appendChild(trackEl);
                }
            });
        });

        observer.observe(videoContainerEl, { childList: true });

        var torrentId =
            'magnet:?xt=urn:btih:6a9759bffd5c0af65319979fb7832189f4f3c35d&dn=sintel.mp4&tr=wss%3A%2F%2Ftracker.btorrent.xyz&tr=wss%3A%2F%2Ftracker.fastcast.nz&tr=wss%3A%2F%2Ftracker.openwebtorrent.com';

        var client = new WebTorrent();

        client.add(torrentId, function(torrent) {
            torrent.files[0].appendTo('#output');
        });
    }
</script>